body {
    background-color: pink;
}
.body__container {
    font-family: 'Nanum Pen Script', cursive;
    color: #333;
}
a {
    text-decoration: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    max-width: 80%;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 60px auto;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section .inner {
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
