/* MAIN */
.section--main {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section--main .main__title {
    font-size: 54px;
    text-align: center;
    width: 100%;
    padding-top: 40px;
}
.section--main .main__img {
    width: 350px;
    box-sizing: border-box;
    margin: 0 auto;
}
.section--main .main__description p{
    width: 400px;
    font-size: 35px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.btn {

}
.btn .btn-start {
    background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    display: flex;
    text-align: center;
    padding: 0 30px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    color: #333;
    margin: 0 auto;
}
.btn .btn-start:hover {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    color: red;
    background: rgba(133, 70, 119, 0.08);
    border-radius: 10px;
}